* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    color: #ddd;
}

.conteine {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.foto {
   width: 300px;
   height: 300px;
} 

.descricao {
    width: 300px;
}

h2 {
    margin: 15px 0;
}

.duracao {
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 2px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 3px;
    width: 0%;
    background: #333;
}

.ponto {
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 10px;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}