* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #aaa;
    font-family: sans-serif;
}

.conteine {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background: #2C2E4E;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: white;
    font-size: 4rem;
    border: 10px solid #FFD523;
}

footer {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #333;
}